.noto-serif-normal {
  font-family: "Noto Serif", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared styles*/
.container{
    max-width: 71.25rem;
    margin: 0 auto;
}
:root{
    --font-initial:#8987A1;
    --font-secondary:#E95A08;
    --font-tartiary:black;
    
}
/*header section*/
/*logo section*/
.logo-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: auto;
    width: 100%;
    margin-top: 1rem;
}
.navbar{
    display: flex;
    gap: 1rem;
    font-size: 16px;
    
}
.navbar span{
    font-weight: 700;
}
.navbar a{
    text-decoration: none;
    color: var(--font-tartiary);
}
/*banner section*/
.banner-section{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    margin-top: 7.5rem;
}
.banner-title{
    padding-top: 10.25rem;
    
}
.banner-title h1{
    font-size: 4rem;
    padding-bottom: .81rem;
}
.banner-title p{
    font-size: 1.37rem;
}
.banner-title span{
    color: var(--font-secondary);

}
.banner-section img{
    padding-top: 6.6rem;
    
}
/*main section start*/
/*our plant section*/
.our-plants{
    margin-top: 7.5rem;
}
.our-plants-title{
text-align: center;
}
.our-plants-title h1{
    font-size: 50px;
    font-weight: 700;
}
.our-plants-title span{
    color: var(--font-secondary);
}
.our-plants-title p{
    font-size: 22px;
    font-weight: 400;
    padding-top: 1rem;
    padding-right: 7.87rem;
    padding-left: 7.87rem;
}

/*our plants cards section start*/
.our-plants-cards{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    max-width: 16.875rem;
    max-height: 30.32rem;
}
.card h3{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;



}
.card p{
font-weight: 700;
font-size: 22px;
text-align: center;
padding-top: .5rem;


}
.card button{
    height: 50px;
    width: 270px;
    
    background-color: var(--font-secondary);
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 800;
    
}